<!DOCTYPE html>

<html>
    <body>
        <h1>Chat room: {{ room_name }}</h1>
    
        <section id="messages">

        </section>

        <input type="text" placeholder="say something" name="messageInput">
    </body>

    <script type="module">
        import {initRoom} from "/static/app/js/room.js";

        // N.B. backend cleans room_name to A-Za-z0-9_-[space] only so this should be safe
        const roomName = "{{ room_name }}"
        const messageInput = document.querySelector('input[name="messageInput"]')

        initRoom(roomName, messageInput);
    </script>
</html>